
.container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/*styling the top bar */
header {
    background-color: red;
    padding: 30px;
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
}

#done-with-order {
    text-align: center;
}

.finish {
    width: 500px;
    display: none;
    margin: auto;
}

#doOrder1 {
    text-align: center;
}